body {
  background: linear-gradient(to right, #000428, #004e92);
  margin: 0;
  overflow: hidden;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #0d1117;
  border: 2px solid #fff;
}
